# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg

.DS_Store

git.lock

# VSCode
.vscode/

/*venv
/venv*
/*venv*
/temp_*

/outputs
/results
/pre-trained-scorenets
/slurm_outputs_archive
/slurm_outputs
/bash_scripts
/playground_figures
/confirm_zero
/analyse_nmc
/analyse_mlmc
/presentation_figs
/temp
/archive

# pixi environments
.pixi
.pixi/*
!.pixi/config.toml

store/
store_archive/
store_archive2/
slurm_archive/
figures/

*_ckpt/
*_ckpt/*

.DS_Store

/wandb

results2
pre-trained-scores

local

experiments/design_marginal/static_*

*figures*
!benchmark/analysis/figures.py

diagnoses/

deep_sweep_results/
*plots/
experiments/deep_sweep/analysis/plots/
reference_pols/
# benchmark transient wandb run data
benchmark/wandb/
